<!DOCTYPE html>     <!-- con signo de admiración se abre un template (click en !) -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Joyas Filia - Tu producto</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> -->

    </head>

<body>
    <header>
        <section class="top-header">
            <i class="fas fa-truck-moving">ENVIOS GRATIS A TODOO EL PAIS</i>
        </section>
        <section class="middle-header" style="background-color:rgb(0, 116, 116);padding:0%;">
            
            <a href="./"><img class="logo" src="images/Logo 2.jpg" alt="Logo de Filia" width="15%" height="15%"></a>  
            

           <div class="navegador">

                <nav class= "iconos-top">
                
                    <ul>
                        <li><a style="color: rgb(247, 245, 245);" href="#"><i class="far fa-heart"></i></a></li>
                        <li><a style="color: rgb(245, 243, 243);" href="/login"><i class="fas fa-user-circle"></i></a></li>
                        <li><a style="color: rgb(255, 251, 251);" href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><a style="color: rgb(252, 249, 249);" href="/details"><i class="far fa-question-circle"></i></a></li>
                    </ul>
                                    
                    <ul>
                        <li><a class="categoria" href="#">Aros</a></li>
                        <li><a class="categoria" href="#">Anillos</a></li>
                        <li><a class="categoria" href="#">Cadenas</a></li>
                        <li><a class="categoria" href="#">Pulseras</a></li>
                        <li><a class="categoria" href="#">Dijes</a></li>                    
                    </ul>

                </nav>
           </div> 

           <div class="container">
                <nav class="categorias-top">


                </nav>

            </div> 


             

            <form id="form"> 
                <input type="search" id="query" name="q" placeholder="Buscar...">
                <button>                       
                    <i class="fa fa-search"></i>         <!-- Icono de la libreria Font-awesome -->
                </button>
            </form>

        </section>

         

        <form id="form"> 
            <input type="search" id="query" name="q" placeholder="Buscar...">
            <button>                        <!-- El buscador -->
                <i class="fa fa-search"></i>         <!-- Icono de la libreria Font-awesome -->
            </button>
        </form>

    </section>

    </header>
    
    
    <main style="background-image:url('images/Plantillas Feed-02_v2.jpg')">
        
        <section class="img-detalle">

            <div class="containerDetailMacro">
                
                <img src="images/pulserarolon.jpg" alt="cadena negra" width="100%" height="100%">

                <div class="containerDetail">

                    <i class="fas fa-gem" height="4.5%" width="auto" style="color:rgb(0, 116, 116)"></i>
                    <div class="texto-body">

                        <h3><p><strong>Collar BlackZafiro</strong></p></h3>
                        <p class= "price" style="color:rgb(0, 116, 116);font-size:18px;">Standard: $2600,  Larga: $3100</p>
                        <h4 class="description">Pulsera de plata tipo rollon, de 20 cm de largo con un espesor de 0.5.</h4>
                        
                        <select name="tallas" id="talla-select">
                            <option value="">--Elige el tamaño--</option>
                            <option value="M">Standard</option>
                            <option value="XL">Larga</option>
                        </select>

                    </div>

                    <div class="WishlistAddCart">

                        <div class="fixed">
                            <a href="/cart">        <!-- No me está funcionando -->
                                <i class="fa fa-heart" aria-hidden="true" height="10%" width="auto" style="color:rgb(0, 116, 116)"></i>
                            </a>
                            <p><a style="color: rgb(0, 116, 116);" href="#">A tus favoritos</a></p>
                        </div>

                        <div class="fixed">
                            <a href="/cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true" height="10%" width="auto" style="color:rgb(0, 116, 116)"></i>
                            </a>
                            <p><a style="color: rgb(0, 116, 116);" href="/cart">Al carrito</a></p>
                        </div>
                        
                    </div>

                </div>

            </div>

        </section>

        <section class="suggestions-detalle">

            <div class="containerSuggestions"></div>
                
                <h5 style="margin-left: 12.5%;margin-top: 4%;">También te podría interesar:</h5>
                
                <div class="products">

                    <button class="arrows"><i class='fas fa-arrow-left'></i></button>

                    <article>   
                        <img src="images/art1.jpg" alt="cadena">
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$2600</p>
                        </div>
                    </article>

                    <article>   
                        <img src="images/art2.jpg" alt="cadena">   
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$2600</p>
                        </div>
                    </article>

                    <article>   
                        <img src="images/art3.jpg" alt="cadena">   
                        <div class="main-article">
                            <i class="far fa-heart"></i>
                            <p class= "price">$2600</p>
                        </div>
                    </article>

                    <button class="arrows"><i class='fas fa-arrow-right' style="color:black"></i></button>

                </div>
            
            </div>

        </section>

    </main>

    <footer>
        <div class="navegador-f">

            <nav class= "iconos-top">
            
                <ul>
                <li><a style="color: rgb(247, 245, 245);" href="#"><i class="far fa-heart"></i></a></li>
                <li><a style="color: rgb(245, 243, 243);" href="#"><i class="fas fa-user-circle"></i></a></li>
                <li><a style="color: rgb(255, 251, 251);" href="#"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a style="color: rgb(252, 249, 249);" href="#"><i class="far fa-question-circle"></i></a></li>
                </ul>

            </nav>
       </div> 
       <div class="credit-cards">

       </div>
       <div class="redes">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
       </div>
    </footer>
            
</body>
</html>