<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio de sesión</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <section class="top-header">
            <i class="fas fa-truck-moving">ENVIOS GRATIS A TODOO EL PAIS</i>
        </section>

        <section class="middle-header" style="background-image:url('images/background_header.png');opacity:1;">
            
            <section>
                <nav class= "iconos-top">
                    <li><a style="color: rgb(245, 243, 243);" href="/login"><i class="fas fa-user-circle"></i></a></li>
                    <li><a style="color: rgb(255, 251, 251);" href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a style="color: rgb(247, 245, 245);" href="#"><i class="far fa-heart"></i></a></li>                
                    <li><a style="color: rgb(252, 249, 249);" href="/details"><i class="far fa-question-circle"></i></a></li>
                </nav>
            </section>

            <section>
                <form id="formu">
                    <div class="search-bar">
                        <i class="icon fa fa-search"></i>
                        <input type="search" id="query" name="q" placeholder="Buscalo...">
                    </div>
                </form>
            </section>

            <section id="logoheader">
                <a href="./">
                    <img class="logo" src="images/Logo 2_2.jpg" alt="Logo de Filia">
                </a>
            </section>
        </section>

        <section class="bottom-header">
            <div class="grid-container">
                <div class="item grid-item-1"> 
                    <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                        PULSERAS
                    </a>
                </div>
                <div class="item grid-item-2">|</div>
                <div class="item grid-item-3"> 
                    <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                        DIJES
                    </a>
                </div>
                <div class="item grid-item-4"> |</div>
                <div class="item grid-item-5"> 
                    <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                        CADENITAS
                    </a>
                </div>
                <div class="item grid-item-6"> |</div>
                <div class="item grid-item-7"> 
                    <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                        AROS
                    </a>
                </div>
              </div> 
        </section>
    </header>

    <main class="main-register">


   
    <form action="" class="formulario-login" id="formulario">
        <h2>Inicia sesión aquí</h2>
        <div class="formulario__grupo" id="grupo__usuario">
            <h3>¿No tienes cuenta? Crea tu cuenta aquí</h3><br><br>
            </div>

        </div>

        

         <!-- Grupo: Usuario -->
         <div class="formulario__grupo" id="grupo__nombre">
            <label for="nombre" class="formulario__label">Usuario</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input">
                
             </div>

             <div class="formulario__grupo" id="grupo__password2">
                <label for="password2" class="formulario__label">Contraseña</label>
                <div class="formulario__grupo-input">
                    <input type="password" class="formulario__input">
                    <br><br>
                </div>

                <input type="checkbox" checked="checked">
                <span>Recordarme</span><br><br><br><br>
                
            </div>
            <div class="login__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Ingresar</button>
                
            </div>
    
        </div>

              <div class="list-login">
                <p>Esto es todo lo que podés hacer al registrarte:</p><br><br>
                <ul style="list-style-type:disc">
                    <li>Agilizar el proceso de compra</li> <br><br>
                    <li>Guardar direcciones de envío</li>   <br><br>
                    <li>Seguimientos de tus compras y revisar los pedidos</li> <br><br>
                    <li>Acumular puntos y acceder a promociones</li> <br><br>
                    <li>Hacer una lista con tus productos favoritos</li> <br><br>
                    <br><br>
                  </ul>

                  <div class="login__grupo-btn-enviar">
                    
                    <button formaction="/register" type="submit" class="formulario__btn">Crear cuenta</button>
                  
                     </div>
                </div>
        
    </form>

    </main>
</body>
</html>