<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro de cuenta</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header>
        <section class="top-header">
            <i class="fas fa-truck-moving">ENVIOS GRATIS A TODOO EL PAIS</i>
        </section>

        <section class="middle-header" style="background-image:url('images/background_header.png');opacity:1;">
            
            <section>
                <nav class= "iconos-top">
                    <li><a style="color: rgb(245, 243, 243);" href="/login"><i class="fas fa-user-circle"></i></a></li>
                    <li><a style="color: rgb(255, 251, 251);" href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a style="color: rgb(247, 245, 245);" href="#"><i class="far fa-heart"></i></a></li>                
                    <li><a style="color: rgb(252, 249, 249);" href="/details"><i class="far fa-question-circle"></i></a></li>
                </nav>
            </section>

            <section>
                <form id="formu">
                    <div class="search-bar">
                        <i class="icon fa fa-search"></i>
                        <input type="search" id="query" name="q" placeholder="Buscalo...">
                    </div>
                </form>
            </section>

            <section id="logoheader">
                <a href="./">
                    <img class="logo" src="images/Logo 2_2.jpg" alt="Logo de Filia">
                </a>
            </section>
        </section>

        <section class="bottom-header">
            <div class="grid-container">
                <div class="item grid-item-1"> 
                    <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                        PULSERAS
                    </a>
                </div>
                <div class="item grid-item-2">|</div>
                <div class="item grid-item-3"> 
                    <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                        DIJES
                    </a>
                </div>
                <div class="item grid-item-4"> |</div>
                <div class="item grid-item-5"> 
                    <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                        CADENITAS
                    </a>
                </div>
                <div class="item grid-item-6"> |</div>
                <div class="item grid-item-7"> 
                    <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                        AROS
                    </a>
                </div>
              </div> 
        </section>
    </header>

	<main class="main-register">

        <h1>Crear cuenta</h1>
		<form action="" class="formulario" id="formulario">
			<!-- Grupo: Usuario -->
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="usuario" class="formulario__label">Usuario</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="usuario" id="usuario"   minlength="4" maxlength="12" required>
				
				</div>
	
			</div>

			<!-- Grupo: Nombre -->
			<div class="formulario__grupo" id="grupo__nombre">
				<label for="nombre" class="formulario__label">Nombre</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="nombre" id="nombre" minlength="4" maxlength="12" required>
                    
                 </div>
				
			</div>

			<!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Tiene que contener al menos un numero, una mayúscula, una minúscula y al menos 8 o mas caracteres" required>
					
				</div>
			
			</div>

			<!-- Grupo: Contraseña 2 -->
			<div class="formulario__grupo" id="grupo__password2">
				<label for="password2" class="formulario__label">Repetir Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password2" id="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"required>
					
				</div>
				
			</div>

			<!-- Grupo: Correo Electronico -->
			<div class="formulario__grupo" id="grupo__correo">
				<label for="correo" class="formulario__label">Correo Electrónico</label>
				<div class="formulario__grupo-input">
					<input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
					
                </div>
				
			</div>

			<!-- Grupo: Direccion -->
			<div class="formulario__grupo" id="grupo__address">
				<label for="address" class="formulario__label">Dirección de domicilio</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="address" id="address" >
					 
				</div>
				
			</div>

			<!-- Grupo: Terminos y Condiciones -->
			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos" required>
					Acepto los Terminos y Condiciones
				</label>
			</div>


			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Crear cuenta</button>
				
			</div>
		</form>
	</main>

	
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

   
</body>
</html>

