*{  
    font-family: 'Comforter', cursive;
    font-family: 'Prompt', sans-serif;
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body {
        background: #E5E5E5;
}

header {

    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
    /**flex: auto;**/

}

footer ul li{
    list-style-type: none;
}
.ul{
    list-style: none;
}

header .top-header{
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0.5%;
    padding-bottom: 0.01%;
    justify-content: center;
}

header .middle-header{      /** INSTALAR CSS Flexbox Cheatsheet: https://css-tricks.com/snippets/css/complete-guide-grid/ */
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    text-align: center;
    flex-wrap: nowrap;
    background-color: rgb(0, 116, 116);
}

#logoheader {
    text-align: left;
    padding-left: 100px;
}

.logo{
    padding-top: 10px;
    border-radius: 30%;
    width:20%;
    height: auto;
}

form.search-box {
    margin-left: 15%;
}

.iconos-top li {
    font-size: 1.5em;
    height: 35px;
    list-style-position: outside;
    padding-right: 15px;
    margin-right: 15px;
    list-style:none;
}

nav.iconos-footer {

    margin-top: 50%;
}


#formu{
    margin-right: 300px;
    margin-top: 40px;
}
.search-bar {
    position: relative;
}
.search-bar.active .input-text {
    max-width: 80%;
    border: 1px solid #ccc;
    background: #eee;
}
.search-bar .icon {
    cursor: pointer;
    position: absolute;
    top: 47%;
    left: 80%;
    transform: translateY(-50%);
    padding: 13px 15px 13px 11px;
}
.search-bar .input-text {
    max-width: 0;
    border: 0;
    border-color: #ccc;
    height: 20px;
    padding: 8px 6px 8px 35px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


.img-organizar img:hover{


    filter: blur(5px);    
}



.bottom-header{
    padding-top: 0.5%;
    background-color:rgb(0, 0, 0);
    border-color: rgb(9, 115, 115);
    border-style:outset;
    border-width: 10px;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    text-align: center;
}

.grid-container {
    display: inline-grid;
    column-gap: 15px;
    color: white;
    padding-bottom: 8px;
  }
.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.grid-item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item-4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item-5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item-6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item-7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}

main{
    margin-top: 5px;
    margin-bottom: 250px;

}
main .princip{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items:center;
}

.container {
    display: flex;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}

@media (min-width: 361px){
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

main section img {

    width: 33%;
    margin-bottom: 4px;
}

section.img-organizar {

    text-align: center;
    
}

.info .info-section {

    float:left;
    width: 100%;
    text-align: center;
}


.container {
   
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
}
.site-shopping-info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 100px;
}


.categoria{
    color: white;
    font-size: 24px;
}
.ul{
    list-style: none;
}



main section article{
    background-color: #fff;
    margin: 15px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;


}
.discount{

    text-align: right;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;


}

main section h3{
    margin: 20px 0px;
}

main section div.products article i{
    transition: transform 1s;
}


article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
section article:hover .description{
    display: block;
}

.login input[type='submit']:hover,
.register input[type='submit']:hover{
    background-color: #0022AA;
}

@media (min-width: 361px){
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }


}

/*Desde aca empiezan los estilos del footer*/
footer{

    background-color: #097373;
    color: white;
    font-size: 20px;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.iconos-footer ul{

    font-size: 30px;
}

.redes ul {
    font-size: 40px;
}

.nosotros {
    padding-top: 20px;
}
.redes{
    padding: 24px;
}


section.img-detalle {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
}

.containerDetailMacro {
    display: flex;
    max-width: 100%;
    padding-left: 10%;
}

.containerDetail {
    
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    align-content:flex-start;
    align-items:baseline;
    width: 50%;
    margin-top: 0.05%;
    margin-bottom: 0.01%;
    font-size: 25px;
    margin-left: 20px;
}

.img-detalle .talla-select {     
    font-size: .3rem;
    padding: 2px 5px;
}

.WishlistAddCart {
    padding-top: 3.7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;     /* Separa los elementos a ambos lados de la página */
}

section.suggestions-detalle {
    padding-left: 5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 220%;
}

table{
    display: flex;
    flex-wrap: wrap;
}

.cart-info a{
    font-size: 60%;
}

tbody {
    font-size: 130%;
}

th{
    text-align: left;
    padding: 5px;
    padding: 10px 5px;
    }

    td input{       /** Para la linea <td><input type="number" value="1"></td> */
       
        width: 60px;
        height: 30x;
        padding: 5px;
    }



section.suggestions-detalle {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 5%;
    padding-top: 1%;
    padding-left: 1%;
}

.containerSuggestions {
    display: flex;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.arrows{
    margin-top:10%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 116, 116);
    font-size: 12px;
    color: black;
}

/*desde aca carrito de compras*/
.cart-page{
    margin: 80px auto;
    padding-right: 10%;
    padding-left: 5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 130%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: rgb(255, 255, 255);
    background: rgb(0, 116, 116);
    font-weight: normal;
}

td{
    padding: 10px 5px;
}
td input{       /** Para la linea <td><input type="number" value="1"></td> */
    width: 40px;
    height: 30x;
    padding: 5px;
}
td a{
    color: rgb(0, 116, 116);
    font-size: 12px;
}
td img{
    width: 130px;
    height: 130px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    padding-top: 0%;
    padding-right: 10%;
}
.total-price table{
    border-top: 3px solid rgb(0, 116, 116);
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: left;
}
th:last-child{
    text-align: center;
}

.container-cart {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    justify-content: space-around;
}

.botonPago{
    padding-top: 5%;
}




/*cambios formularios css desde aqui*/
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}


.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
    
    
}


.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 50%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}




/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

.main-register {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;

    }

    /*Hasta aqui es formulario*/

   .formulario-login{

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;

   }

/*Barra de busqueda */


@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}




.search-box {
  border: solid 5px black;
  display: inline-block;
  position: relative;
  border-radius: 50px;
}
.search-box input[type=text] {
  
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  padding: 5px 40px 5px 10px;
  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.search-box input[type=text]:focus {
  outline: none;
}
.search-box input[type=text]:focus, .search-box input[type=text]:not(:placeholder-shown) {
  width: 400px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-box input[type=text]:focus + button[type=reset], .search-box input[type=text]:not(:placeholder-shown) + button[type=reset] {
  bottom: 13px;
  right: 10px;
  transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
}
.search-box input[type=text]:focus + button[type=reset]:after, .search-box input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
  top: 0;
  right: 10px;
  opacity: 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}
.search-box button[type=reset] {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -13px;
  right: -15px;
  transition: bottom 150ms ease-out 150ms, right 150ms ease-out 150ms;
}
.search-box button[type=reset]:before, .search-box button[type=reset]:after {
  content: "";
  height: 25px;
  border-left: solid 5px black;
  position: absolute;
  transform: rotate(-45deg);
}
.search-box button[type=reset]:after {
  transform: rotate(45deg);
  opacity: 0;
  top: -20px;
  right: -10px;
  transition: top 150ms ease-out, right 150ms ease-out, opacity 150ms ease-out;
}