<div class="img-visible">
    <img src="images/FEED.jpg" alt="Filia">
</div>
<section class="img-organizar">
    
    <div class="img-organizar-top">
        <img src="images/j1.jpg" alt="Filia">
        <img src="images/j2.jpg" alt="Filia">
        <img src="images/j3.jpg" alt="Filia">
    </div>
    
    <div class="img-organizar-bot">
        <img src="images/j4.jpg" alt="Filia">
        <img src="images/j5.jpg" alt="Filia">
        <img src="images/j6.jpg" alt="Filia">
    </div>
</section>
