<footer>
    <section class="upper-footer">
        <div class="navegador-f">
            <nav class= "iconos-footer">
                <ul>
                    <li><a style="color: rgb(247, 245, 245);" href="#"><i class="far fa-heart"></i></a></li>
                    <li><a style="color: rgb(245, 243, 243);" href="/login"><i class="fas fa-user-circle"></i></a></li>
                    <li><a style="color: rgb(255, 251, 251);" href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a style="color: rgb(252, 249, 249);" href="#"><i class="far fa-question-circle"></i></a></li>
                </ul>
            </nav>
        </div> 
        
        <div class="nosotros">
            <ul>
                <li><a class="categoria" href="#">Sobre Filia</a></li>
                <li><a class="categoria" href="#">Preguntas frecuentes</a></li>
                <li><a class="categoria" href="#">Contacto</a></li>
                <li><a class="categoria" href="#">Ser revendedor</a></li>  
            </ul>
        </div>

        <div class="redes">
            <ul>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
            </ul>
        </div>
    </section>

    <section class="lower-footer">
        <img class="logo_footer" src="images/Logo 2.jpg" alt="Logo de Filia">
    </section>
</footer>