<header>
    <section class="top-header">
        <i class="fas fa-truck-moving">ENVIOS GRATIS A TODO EL PAIS</i>
    </section>

    <section class="middle-header" style="background-image:url('images/background_header.png');opacity:1;">
        
        <section>
            <nav class= "iconos-top">
                <li><a style="color: rgb(245, 243, 243);" href="/login"><i class="fas fa-user-circle"></i></a></li><br>
                <li><a style="color: rgb(255, 251, 251);" href="/cart"><i class="fas fa-shopping-cart"></i></a></li><br>
                <li><a style="color: rgb(247, 245, 245);" href="#"><i class="far fa-heart"></i></a></li>   <br>             
                <li><a style="color: rgb(252, 249, 249);" href="#"><i class="far fa-question-circle"></i></a></li>
            </nav>
        </section>

        <section id="logoheader">
            <a href="./">
                <img class="logo" src="images/Logo 2_2.jpg" alt="Logo de Filia">
            </a>

            <form class="search-box">
                <input type="text" placeholder=" "/>
                <button type="reset"></button>
            </form>
        </section>
    </section>

    <section class="bottom-header">
        <div class="grid-container">
            <div class="item grid-item-1"> 
                <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    PULSERAS
                </a>
            </div>

            <div class="item grid-item-2">|</div>

            <div class="item grid-item-3"> 
                <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    DIJES
                </a>
            </div>

            <div class="item grid-item-4"> |</div>

            <div class="item grid-item-5"> 
                <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    CADENITAS
                </a>
            </div>

            <div class="item grid-item-6"> |</div>

            <div class="item grid-item-7"> 
                <a href="./" style="color:white;font-family: Georgia, 'Times New Roman', Times, serif;font-size: small;text-decoration: none;">
                    AROS
                </a>
            </div>
        </div> 
    </section>
</header>