<section class="site-shopping-info">
    <div class="container">
        <div class= texto-body>
            <i class="fas fa-credit-card fa-2x"></i>
            <h2><strong>Pagá con tarjeta o efectivo</strong></h2>
            <span>Ahora podes realizar tu pago de la manera mas conveniente y fácil</span> <br>
        </div>

        <div class= texto-body>
            <i class="fas fa-gift fa-2x"></i>
            <h2><strong>Envío gratis</strong></h2><br>
        <span>Realizamos envíos sin costo a todos los puntos de la Argentina en compras superiores a $6000.</span><br>
        </div>

        <div class= texto-body>
            <i class="fas fa-user-shield fa-2x"></i>
            <h2><strong>Cuotas</strong> </h2><br>
        <span>Cuotas adaptadas a cada cliente, con y sin interés.</span> <br>
        </div>
    </div>
</section>